﻿@model WebChat.Entity.Kullanici
@{
    /**/

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
          rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Login</title>
</head>
<body>
    @ViewBag.mesaj
    <div id="login">
        <h3 class="text-center text-white pt-5">Login form</h3>
        <div class="container">
            @using (Html.BeginForm("Login", "Login", FormMethod.Post))
            {
                <div id="login-row" class="row justify-content-center align-items-center">
                    <div id="login-column" class="col-md-6">
                        <div id="login-box" class="col-md-12">
                            <form id="login-form" class="form" action=""
                                  method="post">
                                <h3 class="text-center text-info">Giriş</h3>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Ad)
                                    @Html.TextBoxFor(m => m.Ad, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                                </div>
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Sifre)
                                    @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", placeholder = "Şifre" })
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-infobtn-md" value="submit">
                                        Giriş
                                    </button>
                                </div>
                                <div id="register-link" class="text-right">
                                    <a href="KullaniciEkle/Index" class="text-info">Üye Ol</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
