﻿@model WebChat.Entity.Kullanici
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Mesaj/Index">WebChat</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#">@HttpContext.Current.User.Identity.Name</a></li>
                    @{
                        if (Model.Admin == true)
                        {
                            <li><a href="/Kullanicilar/Index">Kullanıcılar</a></li>
                        }
                    }
                    <li><a href="/Login/Logout">Çıkış Yap</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <form method="POST" action="/KullaniciDuzenle/Index" role="form">
                            <div class="form-group">
                                <h2>Güncelle</h2>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="signupName">Kullanici Adi</label>
                                @Html.TextBoxFor(m => m.Ad, new { @class = "form-control",@value=Model.Ad, placeholder = "Kullanıcı Adı" })
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="signupPassword">Şifre</label>
                                @Html.PasswordFor(m => m.Sifre, new { @class = "form-control",@value=Model.Sifre, placeholder = "Şifre" })
                            </div>
                            <div class="form-group">
                                <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Güncelle</button>
                            </div>
                            @ViewBag.mesaj
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
