﻿@model WebChat.Entity.Kullanici
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div class="container">
        @ViewBag.mesaj
        <div class="row">
            <div class="panel panel-primary">
                <div class="panel-body">
                    <form method="POST" action="/KullaniciEkle/Index" role="form">
                        <div class="form-group">
                            <h2>Yeni Üyelik</h2>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="signupName">Kullanici Adi</label>
                            @Html.TextBoxFor(m => m.Ad, new { @class = "form-control", placeholder = "Kullanıcı Adı" })
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="signupPassword">Şifre</label>
                            @Html.PasswordFor(m => m.Sifre, new { @class = "form-control", placeholder = "Şifre" })
                        </div>
                        <div class="form-group">
                            <button id="signupSubmit" type="submit" class="btn btn-info btn-block">Hesabı Oluştur</button>
                        </div>
                        <hr>
                        <p></p>Hesabınız varsa <a href="/Login/Login">Giriş Yapın</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
