﻿@model WebChatUI.Models.ViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.0.3.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <title>Index</title>
    <script>
        $(function () {
            var chat = $.connection.chatHub;
            var $mesaj = $('#txtmesaj');
            var $mesajlar = $('#mesajlar');

            $mesaj.focus();

            chat.client.sendMessage = function (name, mesaj) {
                $mesajlar.append('<p class="text-muted">' + name + '</p><span>' + mesaj + '</span >');
            };
            $.connection.hub.start().done(function () {
                $('#clickbutton').click(function () {
                    chat.server.send($mesaj.val());
                    $mesaj.val('').focus();
                });
            });
        });
    </script>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">WebChat</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/KullaniciDuzenle/Index">@HttpContext.Current.User.Identity.Name</a></li>
                    @{
                        if (Model.kullanici.Admin == true)
                        {
                            <li><a href="/Kullanicilar/Index">Kullanıcılar</a></li>
                        }
                    }
                    <li><a href="/Login/Logout">Çıkış Yap</a></li>
                </ul>
            </div>
        </nav>
        <div class="container">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">Mesajlar</div>
                    <div class="panel-body">
                        <div class="container" id="mesajlar" style="width:auto; height:400px;overflow-y:scroll">
                            @foreach (var item in Model.mesajlar)
                            {
                                <div class="row message-bubble">
                                    <p class="text-muted">@item.GonderenAdi</p>
                                    <span>@item.Icerik</span>
                                </div>
                            }
                        </div>
                        <div class="panel-footer">
                            <div class="input-group">
                                <input type="text" id="txtmesaj" class="form-control">
                                <span class="input-group-btn">
                                    <button class="btn btn-default" id="clickbutton" type="button">Send</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
