﻿@using WebChat.Entity
@model List<Kullanici>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <title>Index</title>
</head>
<body>
    <div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/Mesaj/Index">WebChat</a>
                </div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="/KullaniciDuzenle/Index">@HttpContext.Current.User.Identity.Name</a></li>
                    <li><a href="/Kullanicilar/Index">Kullanıcılar</a></li>
                    <li><a href="/Login/Logout">Çıkış Yap</a></li>
                </ul>
            </div>
        </nav>
        <table class="table table-bordered" style="width:300px">
            <thead>
                <tr>
                    <th>İsim</th>
                    <th>Kullanıcıyı Sil</th>
                    <th>Mesajları Sil</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var kulanici in Model)
                {
                    if (kulanici.Ad != HttpContext.Current.User.Identity.Name)
                    {
                        <tr>
                            <td>@kulanici.Ad</td>
                            <td><a class="btn btn-warning" href="/Kullanicilar/Sil/@kulanici.ID">Sil</a></td>
                            <td><a class="btn btn-warning" href="/Kullanicilar/MesajlariSil/@kulanici.Ad">Sil</a></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</body>
</html>
